# Ignore node_modules directory
node_modules/

# Ignore logs and other temporary files
logs/
*.log
npm-debug.log*

# Ignore npm's cache
.npm

# Ignore built files and directories
/build/
/dist/
/out/

# Ignore environment-specific files
.env

# Ignore package-lock.json (useful if you're using npm)
package-lock.json
